html {
    background-color: rgb(251, 226, 235);
    color: rgb(25, 20, 75);
    font-size: 16px;
    font-family: "Georgia", "Arial", sans-serif;
}

.hello {
    display: flex;
    flex-direction: column;
    align-content: stretch;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}
