html {
    background-color: rgb(187, 227, 128);
    color: rgb(25, 20, 75);
    font-size: 16px;
    font-family: "Tahoma", sans-serif;
}

.hello {
    display: flex;
    flex-direction: column;
    align-content: stretch;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}
